/* *{outline:1px solid red;}*/
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Ubuntu');



body{font-family: 'Crete Round', serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Ubuntu', sans-serif;}
h2 {font-size:1.35rem;}
p {line-height: 1.25em;}
 /* comments */
